<div class="mb-3">
  @if (alternative) {
    <div [formGroup]="form" class="form-group">
      <label [translate]="'form.'+name"></label>
      <input [type]="type" [formControlName]="name" [placeholder]="placeholder"
      class="form-control">
    </div>
  } @else {
    <div [formGroup]="form" class="input-group mb-3">
      <input [type]="type" [formControlName]="name" [placeholder]="placeholder"
      class="form-control">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
  }
  <error-bag [control]="control" [name]="name" [errors]="errors"
  [ignoreDataArray]="ignoreDataArray"></error-bag>
</div>
