<app-section [exceptions]="exceptions" [extensions]="extensions"
[methodExtensions]="methodExtensions" [name]="'city'">
  <div create>
    <form-base [form]="form" [errors]="errors">
      <input-select-model [form]="form" [errors]="errors" [options]="stores.models"
      [modelId]="'store_id'" [modelName]="'store_id'" [control]="store_id" [name]="'store_id'" />
      <input-select-model [form]="form" [errors]="errors" [options]="films.models"
      [modelId]="'film_id'" [modelName]="'title'" [control]="film_id" [name]="'film_id'" />
      <button-base [disabled]="!form.valid" [form]="form" (action)="submit()">
        Save changes
      </button-base>
    </form-base>
  </div>
</app-section>
