<auth-layout>
  <div class="card" style="overflow-y: auto; max-height: 74vh;">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="dt-buttons btn-group flex-wrap">
            <button (click)="create()" type="button" data-bs-toggle="modal" data-bs-target="#createBackdrop" class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="Create record" type="button"><span>Create record</span></button>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 d-none">
          <div class="input-group">
            <input [formControl]="searchControl" type="text" type="search" class="form-control" placeholder="Search for record">
            <div class="input-group-append">
              <button (click)="search()" type="submit" class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="example2_wrapper" style="overflow-x: hidden; overflow-x: auto; width: 100%; overflow-y: auto; max-height: 55vh;" class="mt-2 dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" style="margin-bottom: 0px;" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
        <thead style="position: sticky; top: 0px; background-color: rgb(40, 40, 40); color: white;">
          <tr>
            @for (section of sections; track $index) {
              @switch (section.type) {
                @default {
                  <th class="sorting" tabindex="0" rowspan="1" colspan="1" [translate]="'form.'+section.title">
                  </th>
                }
              }
            }
            @if (authService.user()?.roleId != 3) {
              <th class="sorting" tabindex="0" rowspan="1" colspan="1">
              </th>
            }
          </tr>
        </thead>
        <tbody>
          @for (model of shownModels; track $index) {
            <tr class="">
              @for (section of sections; track $index) {
                @switch (section.type) {
                  @case ("boolean") {
                    <td class="">
                      <div class="">
                          <input disabled [checked]="getIndex(model, section.title)" type="checkbox" class="">
                          <label class="sr-only" translate>Checkbox</label>
                      </div>
                    </td>
                  }
                  @case ("Date") {
                    <td class="">
                      {{ getDate(getIndex(model, section.title)) }}
                    </td>
                  }
                  @case ("Actor") {
                    <td class="">
                      @let valueActor = getActor(getIndex(model, section.title));
                      @if (model && valueActor) {
                        <a [routerLink]="'/auth/actors'" class="">
                          {{ valueActor }}
                        </a>
                      } @else {
                        <div translate="Yet not set">
                        </div>
                      }
                    </td>
                  }
                  @case ("Country") {
                    <td class="">
                      @if (model) {
                        @let value = getCountry(getIndex(model, section.title));
                        <a [routerLink]="'/auth/countries'" class="">
                          {{ value }}
                        </a>
                      } @else {
                        <div translate="Yet not set">
                        </div>
                      }
                    </td>
                  }
                  @case ("Address") {
                    <td class="">
                      @if (model) {
                        @let value = getAddress(getIndex(model, section.title));
                        <a [routerLink]="'/auth/addresses'" class="">{{ value }}</a>
                      } @else {
                        <div translate="Yet not set"></div>
                      }
                    </td>
                  }
                  @case ("Store") {
                    <td class="">
                      @if (model) {
                        @let value = getStore(getIndex(model, section.title));
                        <a [routerLink]="'/auth/stores'" class="">{{ value }}</a>
                      } @else {
                        <div translate="Yet not set"></div>
                      }
                    </td>
                  }
                  @case ("Inventory") {
                    <td class="">
                      @if (model) {
                        @let value = getInventory(getIndex(model, section.title));
                        <a [routerLink]="'/auth/inventories'" class="">{{ value }}</a>
                      } @else {
                        <div translate="Yet not set"></div>
                      }
                    </td>
                  }
                  @case ("Film") {
                    <td class="">
                      @if (model) {
                        @let value = getFilm(getIndex(model, section.title));
                        <a [routerLink]="'/auth/films'" class="">{{ value }}</a>
                      } @else {
                        <div translate="Yet not set"></div>
                      }
                    </td>
                  }
                  @case ("Customer") {
                    <td class="">
                      @if (model) {
                        @let value = getCustomer(getIndex(model, section.title));
                        <a [routerLink]="'/auth/customers'" class="">{{ value }}</a>
                      } @else {
                        <div translate="Yet not set"></div>
                      }
                    </td>
                  }
                  @case ("Staff") {
                    <td class="">
                      @if (model) {
                        @let value = getStaff(getIndex(model, section.title));
                        <a [routerLink]="'/auth/staffs'" class="">{{ value }}</a>
                      } @else {
                        <div translate="Yet not set"></div>
                      }
                    </td>
                  }
                  @case ("City") {
                    <td class="">
                      @if (model) {
                        @let value = getCity(getIndex(model, section.title));
                        <a [routerLink]="'/auth/staffs'" class="">{{ value }}</a>
                      } @else {
                        <div translate="Yet not set"></div>
                      }
                    </td>
                  }
                  @case ("Rental") {
                    <td class="">
                      @if (model) {
                        @let value = getRental(getIndex(model, section.title));
                        <a [routerLink]="'/auth/rentals'" class="">{{ value }}</a>
                      } @else {
                        <div translate="Yet not set"></div>
                      }
                    </td>
                  }
                  @case ("Role") {
                    <td class="">
                      @if (model) {
                        @let value = getRole(getIndex(model, section.title));
                        <a [routerLink]="'/auth/roles'" class="">{{ value }}</a>
                      } @else {
                        <div translate="Yet not set"></div>
                      }
                    </td>
                  }
                  @case ("BlobPicture") {
                    @let image = getBlobPicture(model[section.title]);
                    <td>
                      @if (image) {
                        <img src="{{image}}">
                      } @else {
                        {{ 'Yet not set' }}
                      }
                    </td>
                  }
                  @default {
                    <td class="">
                      {{ getIndex(model, section.title) ?? 'Yet not set' }}
                    </td>
                  }
                }
              }
              @if (authService.user()?.roleId != 3) {
                <td class="" style="min-width: 50px;">
                  <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <button class="btn btn-sm btn-outline-secondary" (click)="edit(model)"
                    data-bs-toggle="modal" data-bs-target="#createBackdrop">
                      <i class="fas fa-edit"></i> Edit
                    </button>
                    <button class="ml-2 btn btn-sm bg-danger" (click)="delete(model)"
                    data-bs-toggle="modal" data-bs-target="#deleteBackdrop">
                      <i class="fas fa-trash"></i> Delete
                    </button>
                  </div>
                </td>
              }
            </tr>
          }
      </tbody>
      </table>
      </div>
    </div>
      </div>
      <div class="mt-4 row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing {{ pagination?.currentPage }} to {{ pagination?.lastPage }} of {{ pagination?.total }} entries</div></div>
      <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
          <ul class="pagination" style="justify-content: flex-end;">
            @for (item of getPagination(); track $index) {
              @if ($first && pagination?.currentPage != 1) {
                <li class="paginate_button page-item previous" id="example1_previous"><a [routerLink]="href" [queryParams]="{ page: previousPage(false, pagination!) }" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
              }
              @if (pagination?.currentPage == $index + 1) {
                <li class="paginate_button page-item active"><div aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">
                  {{ $index + 1 }}
                </div></li>
              } @else {
                <li class="paginate_button page-item"><a [routerLink]="href" [queryParams]="{ page: $index+1 }" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">
                  {{ $index + 1 }}
                </a></li>
              }
              @if ($last && pagination?.currentPage != pagination?.lastPage) {
                <li class="paginate_button page-item next" id="example1_next"><a [routerLink]="href" [queryParams]="{ page: previousPage(true, pagination!) }" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
              }
            }
          </ul>
        </div>
      </div></div>
    </div>
  </div>

  <div class="modal fade" id="createBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createBackdropLabel">
            {{ dataService.modal().mode == 1 ? 'Create record' : 'Edit record' }}
          </h1>
          <button type="button" class="btn-close btn" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-content select="[create]">
          </ng-content>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteBackdropLabel">
            Delete record
          </h1>
          <button type="button" class="btn-close btn" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure of deleting this record?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="actionDelete()">Delete record</button>
        </div>
      </div>
    </div>
  </div>

</auth-layout>


